@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de scroll */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #C1FD35; /* Color del scroll */
  border-radius: 10px; /* Bordes redondeados */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color del track (fondo) */
}

.custom-scrollbar {
  scrollbar-color: #C1FD35 #f0f0f0; /* Firefox support: color del scroll y del track */
  scrollbar-width: thin; /* Ancho del scrollbar en Firefox */
}

.bg-image{
  background-image: url("../../public/fondoHome.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image2{
  background-image: url("../../public/fondoHome2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}